<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tìm phòng</h5>
        <button type="button" (click)="close()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-3 mb-3">
            <span class="p-2">ID phòng</span>

          </div>

          <div class="col-9">
            <input class="col-8" type="text" name="searchIdRoom" [(ngModel)]="searchIdRoom"
              aria-describedby="searchIdRoom" placeholder="Nhập ID phòng">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="close()" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" (click)="save()" data-bs-dismiss="modal" class="btn btn-primary">Tìm phòng</button>
      </div>
    </div>
  </div>
</div>